
#clock{
  display: inline-block;
  border-radius: 4px;
  font-size: 1.5em;
  text-align: center;
  color: #353434;
  margin-top: 2%;
}
#date{
  display: inline-block;
  border-radius: 4px;
  margin-top: 1%;
  color: #353434;
}

.news{
  border: 1px solid lightgrey;
   overflow: hidden;
   white-space: nowrap;
   display: inline-block;
   font-size: 2em;
   margin-left: 2%;
   width: 66vw;
   height: 100%;
}
.news-text{
  margin-top: 1%;
  font-family: open-sans;
}
.clock-date{
  width: 11vw;
  border: 1px solid lightgrey;
  display: inline-block;
  margin-left: 5%;
  height: 100%;
  text-align: center;
}
.logo{
  width: 11vw;
  border: 1px solid lightgrey;
  margin-left: 2%;
}
.buttom-container{
  display: grid;
  grid-template-columns: 11% 75% 10%;
}


@keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -485px }
}

@-webkit-keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -485px }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    -webkit-animation: marquee 17s linear infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
