<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta http-equiv="refresh" content="90">
<title>Mediehuset - Dashboard</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="/main.css">

<link rel="stylesheet" href="css/clock-date.css">
