<div class="buttom-container">
  <div>
  <img class="logo" src="logo.svg" alt="">
  </div>
<div class="news li">
  <div id="news-text" class="news-text">
    <p class="marquee">Do not use marquee tag for improve accessibility and readability.</p>
  </div>
</div>
<div class="clock-date">
<div id="clock"></div>
<div id="date"></div>
</div>
</div>
