<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="da">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

<header>
    <% include ../partials/header %>
</header>





    <!-- <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div> -->

    <!-- <h2>Variable</h2>
    <p><%= tagline %></p>

    <h2>Loop</h2> -->

    <!-- <ul>
        <% drinks.forEach(function(drink) { %>
            <li><%= drink.name %> - <%= drink.drunkness %></li>
        <% }); %>
    </ul> -->

    <span class="aktivity-container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>yellow</div>
        <div>red</div>
        <div>blue</div>
        <div>grey</div>
        <div>hest</div>
        <div>hund</div>
        <div>kat</div>
        <div>mus</div>
        <div>mor</div>
        <div>far</div>
        <div>søn</div>
        <div>datter</div>        
    </span>
    <span class='map'>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
   <style type="text/css">
   
   </style>
   <g id="OVERSIGT">
       <rect x="1479.9" y="91.6" class="st0" width="68.5" height="68.5"/>
       <rect x="1479.9" y="182.7" class="st1" width="68.5" height="68.5"/>
       <rect x="1479.9" y="282.8" class="st2" width="68.5" height="68.5"/>
       <rect x="1479.9" y="382.5" class="st3" width="68.5" height="68.5"/>
       <rect x="1479.9" y="479.2" class="st4" width="68.5" height="68.5"/>
       <text transform="matrix(1 0 0 1 1561.6963 141.4683)" class="st5 st6">WEB</text>
       <text transform="matrix(1 0 0 1 1660.9688 141.4683)" class="st7 st6">UDVIKLER</text>
       <text transform="matrix(1 0 0 1 1557.7744 229.3794)" class="st5 st6">DIGITAL</text>
       <text transform="matrix(1 0 0 1 1734.4971 229.3794)" class="st7 st6">MEDIA</text>
       <text transform="matrix(1 0 0 1 1559.4092 327.7065)" class="st5 st6">MEDIE</text>
       <text transform="matrix(1 0 0 1 1699.332 327.7065)" class="st7 st6">GRAFIKER</text>
       <text transform="matrix(1 0 0 1 1558.9688 429.856)" class="st5 st6">GRAFISK</text>
       <text transform="matrix(1 0 0 1 1748.5273 429.856)" class="st7 st6">TEKNIKER</text>
       <text transform="matrix(1 0 0 1 1562.2422 525.4512)" class="st5 st6">GF</text>
       <text transform="matrix(1 0 0 1 1617.8682 525.4512)" class="st7 st6">1</text>
   </g>
   <g id="stuen_1_">
       <g id="stuen_kort">
           <line class="st8" x1="465.4" y1="845.9" x2="465.4" y2="787"/>
           <rect x="415.2" y="786.5" class="st9" width="138.5" height="60.1"/>
           <rect x="731.5" y="611.9" class="st10" width="713.2" height="427.9"/>
           <rect x="554.5" y="612" class="st11" width="177" height="224.9"/>
           <polygon class="st11" points="553.4,612.4 553.7,787.3 413.6,786.8 413.9,801.9 331.1,803.2 331.1,779.5 199.6,778.2 199.6,612.4 
                       "/>
           <rect x="291.4" y="903.1" class="st10" width="440.2" height="136.9"/>
           <rect x="28" y="612.5" class="st10" width="170.8" height="289.5"/>
           <path class="st12" d="M199.1,612.4v60.9h-29.7c-2.1,0-3.9-1.8-3.9-3.9v-57H199.1z"/>
           <path class="st12" d="M199.1,612.4v71.1h-39.3c-2.1,0-3.9-1.8-3.9-3.9v-67.2H199.1z"/>
           <path class="st12" d="M199.1,612.1v81.5h-50.5c-1.8,0-3.4-1.6-3.4-3.4v-78.1H199.1z"/>
           <path class="st12" d="M198.6,612.1V704h-60.1c-2.1,0-3.9-1.8-3.9-3.9v-88H198.6z"/>
           <path class="st12" d="M198.9,611.3v103.3h-70c-2.3,0-4.2-1.8-4.2-4.2v-99.2H198.9z"/>
           <path class="st12" d="M198.6,612.4v112.5h-79.9c-2.1,0-3.9-1.8-3.9-3.9V612.4H198.6z"/>
           <path class="st12" d="M198.9,612.1v123.4h-91.4c-2.1,0-3.9-1.8-3.9-3.9V612.1H198.9z"/>
           <line class="st12" x1="176" y1="612.4" x2="176" y2="673.3"/>
           <polyline class="st12" points="180.9,621 180.9,643.1 176,643.1 		"/>
           <polyline class="st12" points="170.8,612.9 170.8,643.1 165.5,643.1 		"/>
           <polyline class="st12" points="160.3,611.3 160.3,643.4 155.9,643.4 		"/>
           <polyline class="st12" points="150.2,611.3 149.9,643.1 145.2,643.1 		"/>
           <polyline class="st12" points="139.5,612.1 139.5,643.4 134.6,643.4 		"/>
           <polyline class="st12" points="128.8,610.6 128.8,643.4 124.7,643.4 		"/>
           <polyline class="st12" points="119,611.3 119,643.4 114.8,643.4 		"/>
           <polyline class="st12" points="108.5,610.6 108.5,643.1 103.6,643.4 		"/>
           <rect x="1351.5" y="612" class="st10" width="92.7" height="227.4"/>
           <line class="st12" x1="1351.5" y1="730" x2="1445" y2="730"/>
           <line class="st10" x1="1348.9" y1="904.2" x2="1443.7" y2="904.2"/>
           <line class="st10" x1="1088.3" y1="752.9" x2="1088.3" y2="837.3"/>
           <rect x="998.4" y="613.1" class="st10" width="89.8" height="140"/>
           <rect x="731.3" y="904.2" class="st10" width="261.4" height="134.8"/>
           <line class="st10" x1="723.9" y1="837" x2="818.7" y2="837"/>
           <g>
               <circle class="st13" cx="112.4" cy="784.2" r="65.1"/>
               <text transform="matrix(1 0 0 1 77.0308 776.8994)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 97.0752 776.8994)" class="st14 st7 st15">111a</text>
               <text transform="matrix(1 0 0 1 61.4126 805.0127)" class="st14 st5 st16">PYRA</text>
               <text transform="matrix(1 0 0 1 110.8706 805.0127)" class="st14 st7 st16">MIDEN</text>
               <text transform="matrix(1 0 0 1 156.9458 805.0127)" class="st14 st7 st15"> </text>
           </g>
           <g>
               <circle class="st4" cx="376.1" cy="709.5" r="46.9"/>
               <text transform="matrix(1 0 0 1 346.7012 716.1973)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 366.7427 716.1973)" class="st14 st7 st15">112</text>
           </g>
           <g>
               <path class="st3" d="M689.3,723.5c0,25.8-21.1,46.9-46.9,46.9c-25.8,0-46.9-21.1-46.9-46.9c0-25.8,21.1-46.9,46.9-46.9
                   C668.2,676.7,689.3,697.8,689.3,723.5z"/>
               <text transform="matrix(1 0 0 1 606.3872 730.3643)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 626.4312 730.3643)" class="st14 st7 st15">112b</text>
           </g>
           <g>
               <circle class="st4" cx="591.2" cy="973.7" r="46.9"/>
               <text transform="matrix(1 0 0 1 561.605 980.5293)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 581.6509 980.5293)" class="st14 st7 st15">121</text>
           </g>
           <g>
               <circle class="st4" cx="385" cy="972.9" r="46.9"/>
               <text transform="matrix(1 0 0 1 355.5303 979.6123)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 375.5752 979.6123)" class="st14 st7 st15">122</text>
           </g>
           <g>
               <path class="st3" d="M910.8,720.1c0,26.3-21.3,47.4-47.4,47.4s-47.4-21.3-47.4-47.4s21.3-47.4,47.4-47.4S910.8,694.1,910.8,720.1
                   z"/>
               <text transform="matrix(1 0 0 1 833.8716 727.0117)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 853.9155 727.0117)" class="st14 st7 st15">113</text>
           </g>
           <g>
               <path class="st3" d="M909.5,972.9c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9S909.5,946.9,909.5,972.9
                   z"/>
               <text transform="matrix(1 0 0 1 833.063 979.6123)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 853.1089 979.6123)" class="st14 st7 st15">120</text>
           </g>
           <g>
               <path class="st3" d="M1081.1,931c25.8,0,46.9,21.1,46.9,46.9c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9
                   C1034.2,951.8,1055.3,931,1081.1,931z"/>
               <text transform="matrix(-1 0 0 1 1110.6309 984.5762)" class="st14 st5 st15">N</text>
               <text transform="matrix(-1 0 0 1 1090.585 984.5762)" class="st14 st7 st15">119</text>
           </g>
           <g>
               <path class="st3" d="M1252.9,970.3c0,21.3-17.2,38.5-38.5,38.5s-38.5-17.2-38.5-38.5s17.2-38.5,38.5-38.5
                   S1252.9,949,1252.9,970.3z"/>
               <text transform="matrix(1 0 0 1 1184.8525 977.0352)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1204.8965 977.0352)" class="st14 st7 st15">118</text>
           </g>
           <g>
               <path class="st3" d="M1229.4,669.4c25.8,0,46.9,21.1,46.9,46.9s-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9
                   C1182.6,690.2,1203.4,669.4,1229.4,669.4z"/>
               <text transform="matrix(-1 0 0 1 1258.8828 722.9922)" class="st14 st5 st15">N</text>
               <text transform="matrix(-1 0 0 1 1238.8369 722.9922)" class="st14 st7 st15">114</text>
           </g>
           <g>
               <path class="st3" d="M1436.4,784.2c0,22.1-18,40.1-40.1,40.1s-40.1-18-40.1-40.1c0-22.1,18-40.1,40.1-40.1
                   C1418.4,744.1,1436.4,762.1,1436.4,784.2z"/>
               <text transform="matrix(1 0 0 1 1366.7461 790.9551)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1386.7891 790.9551)" class="st14 st7 st15">115</text>
           </g>
           <g>
               <path class="st3" d="M1403.1,973.7c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9c0-25.8,21.1-46.9,46.9-46.9
                   S1403.1,947.9,1403.1,973.7z"/>
               <text transform="matrix(1 0 0 1 1323.3057 980.5283)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1343.3486 980.5283)" class="st14 st7 st15">117 </text>
           </g>
           <rect x="1169.4" y="903.7" class="st10" width="91.9" height="135.4"/>
       </g>
       <text transform="matrix(1 0 0 1 31.6055 588.1738)" class="st5 st15">N-GANGEN </text>
       <text transform="matrix(1 0 0 1 180.7627 588.1738)" class="st7 st15">STUEN</text>
   </g>
   <g id="førstesal_1_">
       <g id="førstesal_kort">
           <line class="st12" x1="180.3" y1="189.4" x2="201.7" y2="189.4"/>
           <line class="st12" x1="179.8" y1="184.2" x2="201.7" y2="184.2"/>
           <line class="st12" x1="179.8" y1="179" x2="202.5" y2="179"/>
           <line class="st12" x1="179.6" y1="173.8" x2="202.7" y2="173.8"/>
           <line class="st12" x1="179.8" y1="168.8" x2="201.7" y2="168.8"/>
           <line class="st12" x1="179.6" y1="163.6" x2="202.5" y2="163.6"/>
           <line class="st12" x1="180.6" y1="158.4" x2="201.7" y2="158.4"/>
           <line class="st12" x1="180.6" y1="153.2" x2="201.7" y2="153.2"/>
           <line class="st12" x1="180.6" y1="148" x2="202.5" y2="148"/>
           <line class="st12" x1="185.5" y1="119.9" x2="185.5" y2="93.1"/>
           <rect x="1222.9" y="257.1" class="st9" width="90.3" height="73.1"/>
           <line class="st8" x1="1267.6" y1="330.5" x2="1267.9" y2="256.3"/>
           <rect x="293.6" y="257.1" class="st9" width="134.1" height="72.9"/>
           <line class="st8" x1="382.1" y1="330.5" x2="382.3" y2="258.4"/>
           <rect x="1091.5" y="383.2" class="st10" width="352.5" height="129.6"/>
           <rect x="28" y="93.3" class="st10" width="173.6" height="284.5"/>
           <rect x="250.3" y="92.1" class="st10" width="135.6" height="164.8"/>
           <rect x="384.7" y="92.1" class="st10" width="305.1" height="164.8"/>
           <rect x="690.5" y="92.2" class="st10" width="133.3" height="218.7"/>
           <rect x="824.2" y="92.1" class="st10" width="136.1" height="218.1"/>
           <rect x="870.5" y="383.2" class="st10" width="221.3" height="129.6"/>
           <rect x="960.4" y="92.1" class="st10" width="128.6" height="164.8"/>
           <rect x="1088.8" y="92" class="st10" width="92.9" height="165"/>
           <rect x="1181.7" y="92" class="st10" width="130.9" height="165"/>
           <rect x="1312.6" y="92.3" class="st10" width="132" height="216.8"/>
           <rect x="120.7" y="120.9" class="st17" width="59.1" height="72.1"/>
           <rect x="115" y="116" class="st17" width="69.5" height="81.7"/>
           <rect x="781.9" y="383" class="st10" width="88.5" height="129.6"/>
           <rect x="693.1" y="436.9" class="st10" width="88.8" height="75.8"/>
           <rect x="623.9" y="436.9" class="st10" width="69.2" height="75.8"/>
           <rect x="559.9" y="436.9" class="st10" width="62.7" height="75.8"/>
           <rect x="467.2" y="384.1" class="st10" width="91.9" height="128.3"/>
           <rect x="297.7" y="384.1" class="st10" width="169.7" height="128.3"/>
           <rect x="28.1" y="378.1" class="st10" width="173.6" height="134.3"/>
           <g>
               <path class="st18" d="M1171.9,173c0,21.1-16.9,38-38,38s-38-16.9-38-38s16.9-38,38-38C1154.9,135,1171.9,151.9,1171.9,173z"/>
               <text transform="matrix(1 0 0 1 1104.4141 179.7231)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1124.458 179.7231)" class="st14 st7 st15">223</text>
               <text transform="matrix(1 0 0 1 1110.1406 192.2183)" class="st14 st5 st19">TECH</text>
               <text transform="matrix(1 0 0 1 1140.3359 192.2183)" class="st14 st7 st19">LAB</text>
           </g>
           <g>
               <circle class="st13" cx="109.8" cy="277.6" r="65.1"/>
               <text transform="matrix(1 0 0 1 80.3696 270.2505)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 100.4146 270.2505)" class="st14 st7 st15">209</text>
               <text transform="matrix(1 0 0 1 62.1484 288.9927)" class="st14 st5 st16">PYRA</text>
               <text transform="matrix(1 0 0 1 111.606 288.9927)" class="st14 st7 st16">MIDEN</text>
           </g>
           <g>
               <path class="st18" d="M365.2,173.8c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9
                   C344.3,126.9,365.2,148,365.2,173.8z"/>
               <text transform="matrix(1 0 0 1 288.8677 180.6567)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 308.9131 180.6567)" class="st14 st7 st15">214</text>
               <text transform="matrix(1 0 0 1 281.3208 190.0269)" class="st14 st5 st20">EFTER</text>
               <text transform="matrix(1 0 0 1 309.1719 190.0269)" class="st14 st7 st20">UDDANNELSE</text>
           </g>
           <g>
               <path class="st2" d="M518.5,175.8c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9S518.5,150.1,518.5,175.8
                   z"/>
               <text transform="matrix(1 0 0 1 436.1265 182.6069)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 456.1719 182.6069)" class="st14 st7 st15">215a</text>
           </g>
           <g>
               <path class="st2" d="M669.5,174.5c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9S669.5,148.8,669.5,174.5
                   z"/>
               <text transform="matrix(1 0 0 1 593.022 181.3589)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 613.064 181.3589)" class="st14 st7 st15">215</text>
           </g>
           <g>
               <path class="st2" d="M757.2,159.2c25.8,0,46.9,21.1,46.9,46.9s-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9
                   S731.4,159.2,757.2,159.2z"/>
               <text transform="matrix(-1 0 0 1 786.7583 212.9038)" class="st14 st5 st15">N</text>
               <text transform="matrix(-1 0 0 1 766.7153 212.9038)" class="st14 st7 st15">218</text>
           </g>
           <g>
               <path class="st2" d="M804,206c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9C783,159.2,804,180.3,804,206
                   z"/>
               <text transform="matrix(1 0 0 1 727.605 212.9038)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 747.6489 212.9038)" class="st14 st7 st15">218</text>
           </g>
           <g>
               <path class="st18" d="M892,164.1c25.8,0,46.9,21.1,46.9,46.9s-21.1,46.9-46.9,46.9c-25.8,0-46.9-21.1-46.9-46.9
                   C845.2,184.9,866.3,164.1,892,164.1z"/>
               <text transform="matrix(-1 0 0 1 921.6382 217.6694)" class="st14 st5 st15">N</text>
               <text transform="matrix(-1 0 0 1 901.5913 217.6694)" class="st14 st7 st15">219</text>
               <text transform="matrix(-1 0 0 1 922.6772 230.1646)" class="st14 st5 st19">DESIGN</text>
               <text transform="matrix(-1 0 0 1 878.9448 230.1646)" class="st14 st7 st19">LAB</text>
           </g>
           <g>
               <path class="st18" d="M938.9,211c0,25.8-21.1,46.9-46.9,46.9c-25.8,0-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9
                   C917.8,164.1,938.9,184.9,938.9,211z"/>
               <text transform="matrix(1 0 0 1 862.4067 217.6694)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 882.4517 217.6694)" class="st14 st7 st15">219</text>
               <text transform="matrix(1 0 0 1 861.3667 230.1646)" class="st14 st5 st19">DESIGN</text>
               <text transform="matrix(1 0 0 1 905.0981 230.1646)" class="st14 st7 st19">LAB</text>
           </g>
           <g>
               <path class="st1" d="M1292.9,170.9c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9
                   S1292.9,144.9,1292.9,170.9z"/>
               <text transform="matrix(1 0 0 1 1216.4834 177.5669)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1236.5273 177.5669)" class="st14 st7 st15">225</text>
           </g>
           <g>
               <path class="st0" d="M1381.7,164.1c25.8,0,46.9,21.1,46.9,46.9s-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9
                   C1334.8,184.9,1355.9,164.1,1381.7,164.1z"/>
               <text transform="matrix(-1 0 0 1 1411.1777 217.6694)" class="st14 st5 st15">N</text>
               <text transform="matrix(-1 0 0 1 1391.1309 217.6694)" class="st14 st7 st15">226</text>
           </g>
           <g>
               <path class="st0" d="M1428.5,211c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9S1428.5,184.9,1428.5,211z
                   "/>
               <text transform="matrix(1 0 0 1 1352.1514 217.6694)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1372.1963 217.6694)" class="st14 st7 st15">226</text>
           </g>
           <g>
               <path class="st0" d="M1278.6,404.1c25.8,0,46.9,21.1,46.9,46.9c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9
                   C1231.7,425,1252.8,404.1,1278.6,404.1z"/>
               <text transform="matrix(-1 0 0 1 1308.2148 457.6743)" class="st14 st5 st15">N</text>
               <text transform="matrix(-1 0 0 1 1288.1719 457.6743)" class="st14 st7 st15">228</text>
           </g>
           <g>
               <path class="st0" d="M1325.4,451c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9c0-25.8,21.1-46.9,46.9-46.9
                   S1325.4,425,1325.4,451z"/>
               <text transform="matrix(1 0 0 1 1248.9453 457.6743)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 1268.9902 457.6743)" class="st14 st7 st15">228</text>
           </g>
           <g>
               <path class="st18" d="M1025.6,447.6c0,25.8-21.1,46.9-46.9,46.9s-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9
                   S1025.6,421.8,1025.6,447.6z"/>
               <text transform="matrix(1 0 0 1 949.062 454.4487)" class="st14 st5 st15">N</text>
               <text transform="matrix(1 0 0 1 969.1064 454.4487)" class="st14 st7 st15">230</text>
               <text transform="matrix(1 0 0 1 939.4312 466.9438)" class="st14 st5 st19">UNDER</text>
               <text transform="matrix(1 0 0 1 980.2998 466.9438)" class="st14 st7 st19">VISNING</text>
           </g>
           <g>
               <path class="st18" d="M1072,168.2c0,25.8-21.1,46.9-46.9,46.9c-25.8,0-46.9-21.1-46.9-46.9s21.1-46.9,46.9-46.9
                   C1050.9,121.4,1072,142.2,1072,168.2z"/>
               <g>
                   <text transform="matrix(1 0 0 1 995.5049 170.6499)" class="st14 st5 st15">N</text>
                   <text transform="matrix(1 0 0 1 1015.5488 170.6499)" class="st14 st7 st15">221</text>
                   <text transform="matrix(1 0 0 1 983.5947 182.0356)"><tspan x="0" y="0" class="st14 st5 st21">PICTURE</tspan><tspan x="61.8" y="0" class="st14 st7 st21">LAB</tspan></text>
               </g>
           </g>
           <line class="st12" x1="557.2" y1="257" x2="557.2" y2="92"/>
           <polyline class="st12" points="382.3,511.1 381.8,455.4 406.3,455.1 406.3,384.1 		"/>
       </g>
       <text transform="matrix(1 0 0 1 28.6606 66.4448)" class="st5 st15">N-GANGEN </text>
       <text transform="matrix(1 0 0 1 177.8174 66.4448)" class="st7 st15">FØRSTESAL</text>
   </g>
   </svg>

    </span>



<footer>
    <% include ../partials/news %>
    <% include ../partials/footer %>
</footer>

</body>
</html>
